#wrap {
    min-height: 80%;
}

#nav {
    padding: 8px 10px;
}

#nav td {
    padding-right: 5px;
}

#search {
    margin-left: 15px;
}

#editor {
    padding: 5px 40px 5px 5px;
}

#editor td {
    padding: 5px;
}

.panel-title {
    padding-left: 5px;
}

